.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #495A34;
    opacity: 90%;
}

.headerTitleSmall {
    position: absolute;
    top: 10%;
    font-size: 40px;
}

.headerTitleLarge {
    position: absolute;
    top: 13%;
    font-size: 120px;
}

.headerImage {
    width: 100%;
    height: 750px;
    margin-top: 80px;
    object-fit: cover;
}